@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  user-select: none;
  outline: none;
}
*:focus {
  outline: none;
}
html {
  font-size: min(1.6vw, 1.6vh);
}
.tshadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.bg-animation {
  background-size: 200% 200%;
  background-image: linear-gradient(
    -45deg,
    #9f7aea 0%,
    #215fb4 25%,
    #215fb4 50%,
    #9f7aea 100%
  );
  animation: bg-effect 20s ease-in-out infinite;
}
@keyframes bg-effect {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.logo {
  animation: logo-effect infinite 0.5s;
}
@keyframes logo-effect {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.new-message {
  animation: new-message-effect 0.2s ease-in-out;
}
@keyframes new-message-effect {
  0% {
    transform: scale(2) rotate(0deg);
  }
  25% {
    transform: scale(1.5) rotate(-2deg);
  }
  50% {
    transform: scale(1) rotate(2deg);
  }
  75% {
    transform: scale(0.8) rotate(-1deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
.unknown:hover {
  transform: scale(1.5);
  transition: transform 0.2s ease-in-out;
}
.empty {
  background-color: rgb(11, 99, 69);
  opacity: 50%;
  animation: empty-effect 0.2s ease-in-out forwards;
}
@keyframes empty-effect {
  0% {
    transform: scale(0.1);
  }
  25% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(0.3);
  }
  75% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
.segment {
  background-color: green;
  animation: segment-effect 0.2s ease-in-out forwards;
}
@keyframes segment-effect {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
  50% {
    transform: scale(1.8);
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.ship {
  background-color: #32cd32;
  animation: ship-effect 0.2s ease-in-out forwards;
}
@keyframes ship-effect {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
  50% {
    transform: scale(1.5);
  }
  75% {
    transform: scale(1.8);
  }
  100% {
    transform: scale(1);
  }
}
.hit {
  background-color: red;
  animation: hit-effect 0.2s ease-in-out forwards;
}
@keyframes hit-effect {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.sunk {
  background-color: rgb(75, 25, 25);
  opacity: 50;
  animation: sunk-effect 0.2s ease-in-out forwards;
}
@keyframes sunk-effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(3);
    opacity: 0.5;
  }
  50% {
    transform: scale(0.8);
    opacity: 0.7;
  }
  75% {
    transform: scale(2);
    opacity: 0.2;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}
