@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  user-select: none;
  outline: none;
}
*:focus {
  outline: none;
}
html {
  font-size: min(1.7vw, 1.7vh);
}
.tshadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.bg-animation {
  animation: bg-effect 5s linear infinite;
}

@keyframes bg-effect {
  0% {
    background-color: #2772da;
  }
  50% {
    background-color: #190eaf;
  }
  100% {
    background-color: #2772da;
  }
}
.bg-static {
  background: linear-gradient(to right, #2772da, #0fa4e9);
}
.logo {
  animation: logo-effect 6s ease-in-out infinite;
}
@keyframes logo-effect {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0.25rem, -0.5rem);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(-0.25rem, -0.5rem);
  }
}
.new-message {
  animation: new-message-effect 0.2s ease-in-out;
}
/*effect also used for grids when they first appear on screen */
@keyframes new-message-effect {
  0% {
    transform: scale(2) rotate(0deg);
  }
  25% {
    transform: scale(1.5) rotate(-2deg);
  }
  50% {
    transform: scale(1) rotate(2deg);
  }
  75% {
    transform: scale(0.8) rotate(-1deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
.unknown:hover {
  transform: scale(1.5);
  transition: transform 0.2s ease-in-out;
}
.empty {
  background-color: rgb(11, 99, 69);
  opacity: 50%;
  animation: empty-effect 0.2s ease-in-out forwards;
}
@keyframes empty-effect {
  0% {
    transform: scale(0.1);
  }
  25% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(0.3);
  }
  75% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
.segment {
  background-color: green;
  animation: segment-effect 0.2s ease-in-out forwards;
}
@keyframes segment-effect {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
  50% {
    transform: scale(1.8);
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.ship {
  background-color: #32cd32;
  animation: ship-effect 0.2s ease-in-out forwards;
}
/*effect also used for winner's grid when the battle is over */
@keyframes ship-effect {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
  50% {
    transform: scale(1.5);
  }
  75% {
    transform: scale(1.8);
  }
  100% {
    transform: scale(1);
  }
}
.hit {
  background-color: red;
  animation: hit-effect 0.2s ease-in-out forwards;
}
@keyframes hit-effect {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.sunk {
  background-color: rgb(75, 25, 25);
  opacity: 50;
  animation: sunk-effect 0.2s ease-in-out forwards;
}
/*effect also used for loser's grid when the battle is over */
@keyframes sunk-effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(3);
    opacity: 0.5;
  }
  50% {
    transform: scale(0.8);
    opacity: 0.7;
  }
  75% {
    transform: scale(2);
    opacity: 0.2;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}
.grid-initial {
  animation: new-message-effect 0.2s ease-in-out;
}
.won {
  animation: ship-effect 0.2s ease-in-out forwards;
}
.lost {
  animation: sunk-effect 0.2s ease-in-out forwards;
}
.grid-custom {
  display: grid;
}
@media (min-aspect-ratio: 5 / 7) {
  .grid-custom.two-columns {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}
@media (max-aspect-ratio: 5 / 7) {
  .grid-custom.two-columns {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}
