@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  user-select: none; /* Prevents text selection globally */
}
.new-message {
  animation: new-message-effect 0.5s ease-in-out;
}
.unknown:hover {
  transform: scale(1.5); /* scale-150 */
  transition: transform 0.2s ease-in-out; /* transition-transform, transform, duration-200, ease-in-out */
}
.empty {
  background-color: blue; /* Permanent color change for a miss */
  animation: empty-effect 0.2s ease-in-out forwards;
  pointer-events: none; /* Remove hover effect */
}
.part-ship {
  background-color: green; /* Permanent color change for a ship segment */
  animation: part-ship-effect 0.2s ease-in-out forwards;
  pointer-events: none; /* Remove hover effect */
}
.ship {
  background-color: #32cd32; /* Slightly brighter color for the final ship segment */
  animation: ship-effect 0.2s ease-in-out forwards;
  pointer-events: none; /* Remove hover effect */
}
.hit {
  background-color: red; /* Permanent color change for a hit */
  animation: hit-effect 0.2s ease-in-out forwards;
  pointer-events: none; /* Remove hover effect */
}
.sunk {
  background-color: black; /* Permanent color change for a kill */
  animation: sunk-effect 0.2s ease-in-out forwards;
  pointer-events: none; /* Remove hover effect */
}
@keyframes new-message-effect {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(3);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes empty-effect {
  0% {
    transform: scale(0.1);
  }
  25% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(0.3);
  }
  75% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes part-ship-effect {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
  50% {
    transform: scale(1.8);
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ship-effect {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
  50% {
    transform: scale(1.5);
  }
  75% {
    transform: scale(1.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes hit-effect {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes sunk-effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(3);
    opacity: 0.5;
  }
  50% {
    transform: scale(0.8);
    opacity: 0.7;
  }
  75% {
    transform: scale(2);
    opacity: 0.2;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
